.pill {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 5px 6px;
  border-radius: 6px;
  border: 1px solid transparent;
  white-space: nowrap;
}

.Minimal {
  background: var(--color-gray-20);
  border-color: var(--color-gray-30);
  color: var(--color-gray-70);
}
.Light {
  background: var(--color-primary-20);
  border-color: var(--color-primary-30);
  color: var(--color-shift-electric-blue);
}
.Moderate {
  background: var(--color-alert-20);
  border-color: var(--color-alert-40);
  color: var(--color-alert-80);
}
.High {
  background: var(--color-destructive-20);
  border-color: var(--color-destructive-30);
  color: var(--color-destructive-70);
}
.Peak {
  background: var(--color-success-20);
  border-color: var(--color-success-30);
  color: var(--color-success-70);
}
.Exceptional {
  background: var(--color-secondary-20);
  border-color: var(--color-secondary-30);
  color: var(--color-secondary-70);
}
